
/*--------------LAYOUT*/

body{
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #9d0a0f;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 12px;
	font-weight: 600;
}
.container{
	position: relative;
	max-width: 1450px;
	width: 100%;
	margin: 0 auto;
}
.container--map{
	max-width: 1540px;

}
/*-------------GLOBAL*/

ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}


/*------------TYPOGRAPHY*/

h1{
	font-size: 118px;
	font-weight: 300;
	letter-spacing: -6px;
}
h2, 
.list li{
	font-size: 20px;
	font-weight: 400;
}
h3{
	font-size: 18px;
}
p {
	font-size: 16px;
	font-weight: 300;
	line-height: 32px;
	letter-spacing: .5px;
}
h3 span{
	font-weight: 300;
}
a:-webkit-any-link{
	text-decoration: none;
}
a{
	color: #fff;
	transition: color .2s ease;
}
a:hover{
	color: #700507;
}


/*----------------STYLE*/
.page{
	height: 100vh;
	min-height: 500px;
}
.nav-bar{
	margin-top: 40px;
	letter-spacing: 2px;
}
.logotype a{
	vertical-align: 15px;
	padding-left: 45px;
}
.logo,
a,
.nav-bar li{
	display: inline-block;
}
.logo img{
	margin-top: 6px;
}
.nav-bar ul{
	margin-top: 20px;
}
.nav-bar li:first-child{
	padding-right: 55px;
}
.nav-bar li:nth-child(3){
	padding-left: 95px;
}
.nav-adjust{
	text-align: right;
}
.map{
	width: 100%;
	overflow: hidden;
}
.map-content{
	width: 101%;
	height: auto;
	transform: translateY(8%);
}
.location{
	position: absolute;
	display: none;
}
#paris{
	top: 300px;
	left: 505px;
}
#moscow{
	top: 231px;
	left: 656px;
}
#bologna{
	top: 312px;
	left: 552px;
}
#geneva{
	top: 312px;
	left: 552px;
}
.location span{
	display: block;
	margin: 0;
	font-size: 20px;
	font-weight: 400;
}

.line{
    display: inline-block;
    position: relative;
    width: 210px;
    height: 2px;
    background-color: #fff;
}
.line::after{
	content: '';
	display: inline-block;
	position: absolute;
	top: -3px;
	left: 225px;
	width: 7px;
	height: 7px;
	background-color: #fff;
	border-radius: 100%;
}
.text-content{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}
.list li{
	margin: 11px 0;
}
.list li span.active{
	color: #700507;
}
.paris.active{
	color: #fff;
}
.collapse{
	display: block;
}
.box-text{
	border: 1px solid #fff;
	margin: 10px 0 90px;
}
.box-text h2{
	margin: 50px 50px 30px;
}
.box-text p{
	margin: 0 50px 55px;
}
@media (max-width: 768px){
  .container{width: 520px;}
  .logo,
  .nav-bar{display: none;}
  .text-content{top: 0; left: 750px;}
  .text-content__header{margin: 65px 0 90px;}
  .text-content__header h1{font-size: 80px; letter-spacing: -2px;}
  .collapse,
  .location{display: none;}
  .box-text{margin: 90px 0 100px;}
  .box-text h2{font-size: 29px;}
  .box-text p{font-size: 20px;}
  .list li{font-size: 26px;}
  .map-content{width: 1920px; height: auto; transform: translateY(40px); overflow: hidden;}
  .map-content img{width: 1920px;}
}
